<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% block title %}Generic obligation{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li>Generic obligations</li>
</ul>
{% endblock %}
{% block actions %}
<form class="import_generics" id="import_generics" enctype="multipart/form-data" action="{% url 'cube:generics' %}" method="post">
  {% csrf_token %}
  <div class="field has-addons">
    <p class="control">
      <input class="input" name="file" type="file" placeholder="Your email">
    </p>
    <p class="control">
      <button class="button" value="Import JSON" type="submit">
        <span class="icon"><i class="fas fa-file-import"></i></span>
      <span>Import</span></button>
    </p>
  </div>
</form>
<a class="button" href="/admin/cube/generic/add/">
  <span class="icon"><i class="fas fa-plus"></i></span>
  <span>Create a new generic obligation</span>
</a>
<a href="{% url 'cube:export_generics' %}" class="button">
  <span class="icon"><i class="fas fa-file-export"></i></span>
  <span>Export as JSON</span>
</a>
{% endblock %}<>
{% block herozone %}
<h1 class="title">
  <span class="icon is-medium">
  <i class="fas fa-award"></i>
  </span>
Generic obligations
</h1>
{% endblock %}
{% block content %}
<div id="content-main">
    <p>The <em>core</em> is the set of generic obligations considered as fitting enough your policy to be executed for every single component, even if the license of a component does not require the obligation expressly.
  </p>
  <div class="card has-table">
    <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-award"></i></span>
          {{generics_incore|length}} generic obligations in the core
        </p>
      </header>
      <div class="card-content">
        <div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">

            {% if generics_incore|length >= 1 %}
            <table class="table is-striped is-hoverable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Lead</th>
                  <th>Nb of licenses</th>
                  <th>Passivity</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for generic in generics_incore %}
                  <tr>
                    <td><a href="{% url 'cube:generic' generic.id %}">{{generic.name}}</a></td>
                    <td>{{generic.get_metacategory_display}}</td>
                    <td>{{generic.team.name}}</td>
                    <td>{{ generic.obligation_set.all|length }}</td>
                    <td>{{ generic.passivity}}</td>
                    <td class="is-actions-cell">
                      <div class="buttons is-right">
                        <a class="button is-small" type="button" href="{% url 'cube:generic' generic.id %}">
                          <span class="icon"><i class="fas fa-eye"></i></span>
                        </a>
                        <a class="button is-small " href="/admin/cube/generic/{{generic.id}}/change/" target="_blank" type="button">
                          <span class="icon"><i class="fas fa-edit"></i></span>
                        </a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            {% else %}
            <div class="card has-table">
              <div class="card-content">
                <section class="section">
                  <div class="content has-text-grey has-text-centered">
                    <p>
                      <span class="icon is-large"><i class="fas fa-surprise fa-2x"></i></span>
                    </p>
                    <p>Nothing's here…</p></div>
                </section>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>



    <div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-award"></i></span>
          {{generics_outcore|length}} generic obligations out of the core
        </p>
      </header>
      <div class="card-content">
        <div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">
            {% if generics_outcore|length >= 1 %}
            <table class="table is-striped is-hoverable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Lead</th>
                  <th>Nb of licenses</th>
                  <th>Passivity</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for generic in generics_outcore %}
                  <tr>
                    <td><a href="{% url 'cube:generic' generic.id %}">{{generic.name}}</a></td>
                    <td>{{generic.get_metacategory_display}}</td>
                    <td>{{generic.team.name}}</td>
                    <td>{{ generic.obligation_set.all|length }}</td>
                    <td>{{ generic.passivity}}</td>
                    <td class="is-actions-cell">
                      <div class="buttons is-right">
                        <a class="button is-small" type="button" href="{% url 'cube:generic' generic.id %}">
                          <span class="icon"><i class="fas fa-eye"></i></span>
                        </a>
                        <a class="button is-small" href="/admin/cube/generic/{{generic.id}}/change/" target="_blank" type="button">
                          <span class="icon"><i class="fas fa-edit"></i></span>
                        </a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            {% else %}
      <div class="card has-table">
        <div class="card-content">
          <section class="section">
            <div class="content has-text-grey has-text-centered">
              <p>
                <span class="icon is-large"><i class="fas fa-surprise fa-2x"></i></span>
              </p>
              <p>Nothing's here…</p></div>
          </section>
        </div>
      </div>
      {% endif %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}



