<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only -->

{% extends "cube/cube.html" %}
{% block title %}Curations{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li>Curations</li>
</ul>
{% endblock %}

{% block actions %}
<a class="button is-info is-inverted" href="{% url 'cube:licensecuration_create'%}">
  <span class="icon">
    <i class="fas fa-plus"></i>
  </span>
  <span>Create a new curation</span>
</a>
<a class="button" href="{% url 'cube:licensecurations_export'%}">
  <span class="icon">
    <i class="fas fa-file-export"></i>
  </span>
  <span>Export as ORT curations</span>
</a>
{% endblock %}

{% block herozone %}
<h1 class="title">
  <span class="icon is-medium"><i class="fas fa-band-aid"></i></span>
  Your Curations
</h1>
{% endblock %}

{% block content %}
{% include "cube/includes/list_nav.html" %}
<p>The list of corrections and confirmations of license information related to 3rd party components.</p>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Component:version</th>
      <th>Stated license</th>
      <th>Corrected license</th>
      <th>Explanation</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
{% for curation in object_list %}
    <tr>
      <td> {{ curation.version|default:curation.component|default:'<em>any</em>'}} </td>
      <td> {{ curation.expression_in }}</td>
      <td> {%if  curation.expression_out == curation.expression_in %} <i class="fas fa-certificate"></i> <em>License confirmed </em>{% else %}{{ curation.expression_out }}{%endif%}</td>
      <td> {{ curation.explanation|truncatechars:50 }}</td>
      <td>{{ curation.updated }} ({{ curation.author|default:"<em>author unknown</em>" }})</td>
      <td><a href="{%url 'cube:licensecuration_update' curation.id %}"><i class="far fa-edit"></i></a>
        {% if curation.component or curation.version %}
        | <a href="{%url 'cube:licensecuration_export' curation.id %}"><i class="fa fa-download"></i></a></td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}




