<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}{{ license.long_name }} {% endblock %}

{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:licenses' %}">Licenses</a></li>
  <li>{{ license.spdx_id }}</li>
</ul>
{% endblock %}

{% block actions %}
<a class="button" href="{% url "cube:license_edit" license.id %}">
  <span class="icon">
    <i class="fas fa-edit"></i>
  </span>
  <span>Edit this license</span>
</a>

<div class="dropdown is-hoverable is-right">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Actions</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="{% url "cube:export_license" license.id %}" class="dropdown-item">
        <span class="icon is-small">
          <i class="fas fa-download"></i>
        </span>
        <span>Export as JSON</span>
      </a>
      <a href="{% url "cube:print_license" license.id %}" class="dropdown-item">
        <span class="icon is-small">
          <i class="fas fa-print"></i>
        </span>
        <span>Print (ODT export)</span>
      </a>
      <a href="{% url "admin:cube_license_change" license.id %}" class="dropdown-item"  target="_blank">
        <span class="icon is-small">
          <i class="fas fa-edit"></i>
        </span>
        <span>Edit in admin</span>
      </a>

    </div>
  </div>
</div>
{% endblock %}

{% block herozone %}
<div class="hero-body">
  <p class="title">{{ license.long_name }}</p>
</div>
{% endblock %}

{% block infoitem %}
<p class="subtitle" style="text-transform: uppercase;">
  <span class="icon is-medium">
    <i class="fas fa-balance-scale"></i>
    </span>
    License
  </p>
{% endblock %}
{% block content %}

  <section class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon">
          <i class="fas fa-info-circle"></i> 
        </span>
        Main characteristics of this license
      </p>
    </header>
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <p>SPXD identifier:
            <a href="https://spdx.org/licenses/{{ object.spdx_id }}.html" target="_blank">
              <span> {{ object.spdx_id }}</span>
              <span class="icon is-small">
                <i class="fas fa-link"></i>
              </span>
            </a>
          </p>
          <p>Review status:
            <span class="tag {{ license|licenseReviewCSS }}">
              {{ license.get_status_display }}
            </span>
          </p>
          <p>FOSS policy status:
            <span class="tag {{ license|licenseAllowedCSS }}">
              {{ license.get_allowed_display }}
            </span>
          </p>
          <p>Explanation of FOSS policy:</p>
          {% if license.allowed_explanation %}
          <div class="content">
           <blockquote>{{ license.allowed_explanation }}</blockquote>
          </div>
          {% else %}
          <p>
            <em>No explanation has been given for this OSS policy</em> - <a href="{% url "cube:license_edit" license.id %}">Edit</a>
          </p>
          {% endif %}
        </div>
        <div class="column">
          <p>Copyleft :
            <span class="tag {{ license|licenseCopyleftCSS }}">
              {{ license.get_copyleft_display|default:"Unknown" }}
            </span>
          </p>
          <p>Actually FOSS :
            <span class="tag {{ license|licenseFOSSCSS }}">
              {{ license.get_foss_display|default:"Unknown" }}
            </span>
          </p>
          <p>Patent Grant:
            <strong>{{ license.patent_grant|yesno:"Yes,No,Maybe" }}</strong>
          </p>
          <p>Ethical clause:
            <strong>{{ license.ethical_clause|yesno:"Yes,No,Maybe" }}</strong>
          </p>
          <p>Restricted to non-commercial use:
            <strong>{{ license.non_commercial|yesno:"Yes,No,Maybe" }}</strong>
          </p>
        </div>

        <div class="column">
          <p>Choice of law:
            <strong>{{ license.law_choice|default:"None" }}</strong>
          </p>
          <p>Choice of venue:
            <strong>{{ license.venue_choice|default:"None" }}</strong>
          </p>
          <p>Disclaimer of Warranty:
            <strong>{{ license.get_warranty_display|default:"Unknown" }}</strong>
          </p>
          <p>Limitation of Liability:
            <strong>{{ license.get_liability_display|default:"Unknown" }}</strong>
          </p>

          <!-- Show optional comment -->
          {% if license.comment %}
            <p>Your comment :</p>
            <div class="content">
              <blockquote>{{ license.comment }}</blockquote>
            </div>
          {% else %}
            <p>Comment: <i>no comment</i></p>
          {% endif %}

          {% if license.is_core_covered %}
            <p>
              <span class="icon">
                <i class="fas fa-check has-text-success"></i>
              </span>
              <span>This license is covered by the obligations in the core</span>
            </p>
          {% else %}
            <p>
              <span class="icon has-text-grey"><i class="fas fa-times"></i></span>
              This license is NOT covered by the obligations in the core
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  {% if license.allowed == "context" or license.context_derogations %}
    <section class="card">
      <header class="card-header">
      <p class="card-header-title">
        <span class="icon">
          <i class="fas fa-exclamation-circle"></i>
        </span>
        Authorized contexts:
      </p>
    </header>

      <div class="card-content">
          {% if license.context_derogations %}
        <p>There is {{ license.context_derogations.count }} generic contexts authorized for this license (listed below) and {% if license.derogations.count > 0 %} <a href="{% url "admin:cube_derogation_changelist" %}?license__id__exact={{ license.id }}"> {{ license.product_derogations.count }} product-specific derogation{{ license.product_derogations.count|pluralize }}</a>.{% endif %}</p>
          <table>
            <tr>
              <th>Linking</th>
              <th>Modification</th>
              <th>Exploitation</th>
              <th>Product category</th>
              <th>Scope</th>
              <th>Justification</th>
              <th>Updated</th>
              <th>Action</th>
            </tr>
            {% for derogation in license.context_derogations %}
              <tr>
                <td>{{ derogation.get_linking_display|default:"<em>Any</em>" }}</td>
                <td>{{ derogation.get_modification_display|default:"<em>Any</em>" }}</td>
                <td>{{ derogation.get_exploitation_display|default:"<em>Any</em>" }}</td>
                <td>{{ derogation.category|default:"<em>Any</em>" }}</td>
                <td>{{ derogation.scope|default:"<em>Any</em>" }}</td>
                <td>
                  {{ derogation.justification|default:"<em>No justification</em>"|truncatewords:13 }}
                </td>
                <td>{{ derogation.updated }} ({{ derogation.author|default:"<em>author unknown</em>" }})</td>
                <td style="white-space: nowrap">
                  <a href="{% url "cube:authorized_context_edit" derogation.id %}"><span class="icon"><i class="fas fa-edit"></i></span></a> |
                  <a href="{% url "admin:cube_derogation_delete" derogation.id %}"><span class="icon"><i class="fas fa-trash"></i></span></a>
                </td>
              </tr>
            {% endfor %}
          </table>
          {% else %}
            <p><em>There are no generic contexts of usage authorized for this license.</em>{% if license.derogations.count > 0 %} There are <a href="{% url "admin:cube_derogation_changelist" %}?license__id__exact={{ license.id }}"> {{ license.product_derogations.count }} product-specific derogation{{ license.product_derogations.count|pluralize }}</a>.{% endif %}</p>
          {% endif %}
            <p><a href="{% url "cube:authorized_context_create" license.id %}" class="button">
            <span class="icon"><i class="fas fa-plus"></i></span>
            <span>Add an authorized context</span>
          </a></p>



      </div>
    </section>
  {% endif %}

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="title is-2">Obligations attached to this license</h2>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <a href="{% url "cube:obligation_create" license.id %}" class="button">
          <span class="icon"><i class="fas fa-plus"></i></span><span>Attach new obligation</span>
        </a>
      </div>
    </div>
  </div>

  {% regroup license.obligation_set.all by generic.get_metacategory_display as metacategory_list %}
  {% for metacategory in metacategory_list %}
    <h3>Obligations related to {{ metacategory.grouper|default:"Obligations specific to this license" }}</h3>
    {% for obligation in metacategory.list %}
      <div class="card">
        <header class="card-header level">
            <div class="card-header-title level-left">
              <p level-item>{{ obligation.name }} {% if obligation.passivity %}({{ obligation.passivity }}){% endif %}</p>
          </div>
          <div class="level-right">
            <div class="buttons has-addons level-item">
              <a href="{% url "cube:obligation_edit" obligation.id %}" class="button">
                <span class="icon is-small"><i class="fas fa-edit"></i></span>
                <span>Edit obligation</span>
              </a>
              <a href="{% url "cube:obligation_delete" obligation.id %}" class="button">
                <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
                <span>Delete obligation</span>
              </a>
          </div>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
            {% if obligation.generic %}
              <p>Related to generic obligation: <a href="{% url 'cube:generic' obligation.generic.id %}">{{obligation.generic}}</a> </p>
            {% endif %}
            {% if obligation.passivity == "Active" %}
              <p>Applies:</p>
              <ul><li>{{ obligation.get_trigger_mdf_display }}</li>
              <li>{{ obligation.get_trigger_expl_display }}</li></ul>
            {% endif %}
            <br>
            <details>
              <summary><strong>Corresponding text in the license:</strong></summary>
            <blockquote>{{ obligation.verbatim }}</blockquote>
            </details>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}

{% endblock %}




