<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only -->

{% extends "cube/cube.html" %}
{% block title %}Products{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li>Products</li>
</ul>
{% endblock %}
{% block actions %}
<a class="button is-info is-inverted" href="{% url 'cube:product_add'%}">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Create a new product</span>
          </a>
{% endblock %}
{% block herozone %}
<h1 class="title">
  <span class="icon is-medium"><i class="fas fa-cubes"></i></span>
  All Products
</h1>
{% endblock %}

{% block content %}
{% include "cube/includes/list_nav.html" %}
<p>The list of the software products that you develop internally.</p>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Product</th>
      <th>Categories</th>
      <th>Description</th>
      <th>Owner</th>
      <th># of releases</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
{% for product in object_list %}
    <tr>
      <td><a href="{% url 'cube:product_detail' product.id %}">{{product.name}}</a></td>
      <td> {% for category in product.categories.all %} <a href="{% url 'cube:category_detail' category.id %}"><span class="tag is-dark">{{ category }}</span></a> {% endfor %}</td>
      <td> {{ product.description|truncatechars:50 }}</td>
      <td>{{product.owner}}</td>
      <td>{{product.releases.all|length}}</td>
      <td><a href="{% url 'cube:product_detail' product.id %}"><i class="fas fa-info-circle"></i></a> |
        <a href="/admin/cube/product/{{product.id}}" target="_blank"><i class="far fa-edit"></i></a></td>
    </tr>
  </a>
{% endfor %}
</tbody>
</table>

{% endblock %}


