<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Create Product
{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:products'%}">Products</a></li>
  <li>{{ product }}</li>
  <li>Add release</li>
</ul>
{% endblock %}
{% block herozone %}
  <div class="hero-body">
    <p class="title">Create a new release for {{ product }}</p>
  </div>
{% endblock %}
{% block infoitem %}
<p class="subtitle" style="text-transform: uppercase;">
  <span class="icon is-medium">
    <i class="fas fa-cubes"></i>
    </span>
    Product
  </p>
{% endblock %}
{% block content %}
{% if form.errors %}
  <article class="message is-danger">
    <div class="message-header">
      <p>Failure</p>
    </div>
    <div class="message-body">
      <span class="icon has-text-danger"><i class="fas fa-exclamation-triangle"></i></span> Couldn't create a release because: {{ form.non_field_errors }} </div>
    <ul>
    </ul>
  </article>
{% endif %}


<form method="post">
  {% csrf_token %}
  <input type="hidden" name="product" id="id_product" value="{{ product.id }}" >
  <div class="field">
  <label class="label">Release number</label>
  <div class="control">
    <input class="input" type="text" name="release_number" maxlength="200" required id="id_release_number" placeholder="Number of this release">
  </div>

  <p class="help">Please type a release number (must be unique)</p>
</div>
  <div class="control">
    <button type="submit" class="button is-link">Save</button>
  </div>
  </form>

{% endblock %}




