<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
{% extends "cube/cube.html" %}

{% block title %}{{ release.product.name }} {{ release.release_number }}{% endblock %}
{% block breadcrumbs %}
<ul>
  <li>Hermine</li>
  <li><a href="{% url 'cube:product_detail' release.product.id %}">{{ release.product.name }}</a></li>
  <li><a href="{% url "cube:release_summary" release.id %}">{{ release.release_number }}</a></li>
  <li><a href="{% url "cube:release_validation" release.id %}">Validation</a></li>
  <li>License choices</li>
</ul>
{% endblock %}
{% block herozone %}
<div class="hero-body">
  <p class="title">{{ release.product.name }} {{ release.release_number }}</p>
</div>
{% endblock %}
{% block content %}

<h5 class="title is-h5">License choices for this release</h5>

<table class="table">
  <thead>
    <tr>
      <th>Scope</th>
      <th>Component</th>
      <th>License expression</th>
      <th>Choice for this release</th>
      <th>Rules</th>
      <th>Edit usage</th>
    </tr>
  </thead>
  <tbody>
    {% for usage in usages %}
      <tr>
        <td>{{ usage.scope }}</td>
        <td><a href="{% url "cube:component_detail" usage.version.component.id %}" target="_blank">{{ usage.version }}</a> </td>
        <td>{{usage.version.effective_license}}</td>
        <td>{{usage.license_expression }} </td>
        <td>
          {% if usage.license_choices|length == 1 %}
            <a href="{% url "admin:cube_licensechoice_change"  usage.license_choices.0.pk %}">Edit rule</a>
            {% if usage.license_choices.0.expression_out != usage.license_expression %}
              <br><small>Choice does not match rule
              <form action="{% url "cube:release_update_license_choice" usage.pk %}" method="POST" class="form is-inline">
                {% csrf_token %}
                <button type="submit" class="button is-small is-inline" title="Apply new rule"><i class="fa fa-redo"></i></button></form></small>
            {% endif %}
          {% else %}
            {{ usage.license_choices|length }} rules apply. Edit rule
            {% for choice in usage.license_choices %}
              <a href="{% url "admin:cube_licensechoice_change" choice.pk %}">
                {{ choice.pk }}</a>{% if not forloop.last %}, {% else %}.{% endif %}
            {% endfor %}
          {% endif %}
        </td>
        <td><a href="{% url "admin:cube_usage_change" usage.id %}" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
