<!--
SPDX-FileCopyrightText: 2022 Hermine-team <hermine@inno3.fr>
SPDX-License-Identifier: AGPL-3.0-only
-->
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <form>
        <div class="field has-addons">
          <div class="control">
            <label class="is-sr-only" for="search_field">Search</label>
            <input id="search_field" class="input" name="search" placeholder="Search" value="{{ query }}" />
          </div>
          <div class="control">
            <button class="button" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1"><button class="current button">first</button></a>
            <a href="?page={{ page_obj.previous_page_number }}"><button class="current button is-link is-light">previous</button></a>
          {% else %}
            <button class="current button " disabled>first</button>
            <button class="current button  is-light" disabled>previous</button>
          {% endif %}
            <button class="current button">
              page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </button>
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}"><button class="current button is-link is-light">next</button></a>
              <a href="?page={{ page_obj.paginator.num_pages }}"><button class="current button ">last</button></a>
           {% else %}
              <button class="current button is-light" disabled>next</button>
              <button class="current button " disabled>last</button>
           {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>

